<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} — Codengage</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
  </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Codengage</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'index' %}active{% endif %}" href="/">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'products' %}active{% endif %}" href="/products">Produtos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'persons' %}active{% endif %}" href="/persons">Pessoas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'orders' %}active{% endif %}" href="/orders">Pedidos</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="margin-right: .5em;">Pesquisar</button>
            </form>
            {% block toolbar %}{% endblock %}
          </div>
          </div>
      </nav>
      <div class="container" style="padding-top: 2em;">
        {% block body %}{% endblock %}
      </div>
      <script src="/assets/js/jquery.min.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/app.js"></script>
      {% block javascripts %}{% endblock %}
    </body>
</html>
