{% extends 'base.html.twig' %}

{% block title %}Início{% endblock %}

{% block body %}
<div style="text-align: center;">
  <img src="/favicon.svg" style="width: 200px;"><br>
  Bem-vindo ao teste da Codengage.<br>
  Use a barra superior para navegar.
</div>
{% endblock %}
