{% extends 'base.html.twig' %}

{% block title %}Oops{% endblock %}
{% block toolbar %}
  <a class="btn btn-secondary" href="{{ action }}" role="button">Voltar para o início</a>
{% endblock %}

{% block body %}
<div class="alert alert-danger" role="alert">
  Ocorreu um erro ao processar a sua solicitação. Tente novamente mais tarde.<br>
  <br>
  Detalhes do erro:<br>
  <pre>
    {{ message }}
  </pre>
  <br>
  <a href="{{ action }}">Clique aqui para voltar</a>
</div>
{% endblock %}
